.root {
    -fx-padding: 20px;
    -fx-font-family: "Arial";
}

.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #2a9df4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-area, .text-field {
    -fx-padding: 5px;
}

.text-area {
    -fx-min-height: 100px;
}
